.explorefood {
  align-items: center;
  display: flex;
  background-color: rgb(247, 247, 231);
  flex-flow: column wrap;
  justify-content: space-evenly;
  height: 90vh;
}

.foodbtns {
  display: flex;
  flex-flow: column;
}


.explore-food-button {
  border: 1 solid;
  box-shadow: 1px 1px 0 0 , 2px 2px 0 0 , 3px 3px 0 0;
  color: black;
  cursor: pointer;
  font-family: Open Sans , sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 65px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 20px;
  text-transform: uppercase;
  transition: background-color 0.35s;
  align-items: center;
  width: 100%;
}

.food {
  width: 80%;
}
