.explore {
  background-color: rgb(247, 247, 231);
  height: 100vh;
}

.botoes {
  margin-top: 25px;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
  height: 80vh;
  width: 100%;
  justify-content: center;
}

.explore-btn {
  /* background-color: aliceblue;
  border: solid 1px brown;
  border-radius: 13%;
  box-shadow: inset 0 0 1em rgb(199, 216, 231) , 0 0 1em red;
  color: brown;
  margin: 10px 40px 10px 20px; */
  border: 1 solid;
  box-shadow: 1px 1px 0 0 , 2px 2px 0 0 , 3px 3px 0 0;
  color: black;
  cursor: pointer;
  font-family: Open Sans , sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 65px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 20px;
  text-transform: uppercase;
  transition: background-color 0.35s;
  align-items: center;
}

/* .drinksbtn {
  background-color: aliceblue;
  border: solid 1px brown;
  border-radius: 13%;
  box-shadow: inset 0 0 1em rgb(199, 216, 231) , 0 0 1em red;
  color: brown;
  margin-right: 3px;
  margin-top: 5px;
} */

.foods {
  margin-top: 30px;
  width: 200px;
}
