.profilepage {
  background-color: rgb(247, 247, 231);
  height: 100vh;
  text-align: center;
}

.email {
  margin-top: 15px;
  font-size: 30px;
  text-decoration: solid;
}

.profilebtns {
  align-self: center;
  text-align: center;
  flex-flow: column wrap;
  padding: 60px;
  width: 100vw;
  margin: 0;
}

.profile-btn {
  border: 1 solid;
  box-shadow: 1px 1px 0 0 , 2px 2px 0 0 , 3px 3px 0 0;
  color: black;
  cursor: pointer;
  font-family: Open Sans , sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  letter-spacing: 2px;
  margin: 10px;
  padding: 15;
  text-transform: uppercase;
  transition: background-color 0.35s;
  width: 155px;
}

/* .donebtn {
  background-color: aliceblue;
  border: solid 1px brown;
  border-radius: 13%;
  box-shadow: inset 0 0 1em rgb(199, 216, 231) , 0 0 1em red;
  color: brown;
  margin: 10px 1px 15px 95px;
  width: 115px;
}

.favoritebtn {
  background-color: aliceblue;
  border: solid 1px brown;
  border-radius: 13%;
  box-shadow: inset 0 0 1em rgb(199, 216, 231) , 0 0 1em red;
  color: brown;
  margin-bottom: 15px;
  margin-left: 85px;
  width: 135px;
}

.logoutbtn {
  background-color: aliceblue;
  border: solid 1px brown;
  border-radius: 13%;
  box-shadow: inset 0 0 1em rgb(199, 216, 231) , 0 0 1em red;
  color: brown;
  margin-left: 95px;
  width: 112px;
} */
