.recipeDetails {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.recipeTitleAndIcons {
  display: flex;
  justify-content: space-between;
}

.recipeIcons {
  display: flex;
}

.recipeCategory {
  color: rgba(196, 196, 196, 0.85);
  font-weight: 800;
  margin: 0 0 10px;
  padding-left: 0;
}

.recipeIngredients {
  background-color: rgba(196, 196, 196, 0.85);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  padding: 1%;
}

.recipeInstructions {
  background-color: rgba(196, 196, 196, 0.85);
  border-radius: 6px;
  padding: 1%;
}

.recipe-video {
  height: 315px;
  width: 100%;
}

.horizontalScroll {
  display: flex;
  overflow: auto;
  width: 100%;
}

.btnStartRecipe {
  border: 1 solid;
  border-radius: 5.5%;
  bottom: 0;
  box-shadow: 1px 1px 0 0 , 2px 2px 0 0 , 3px 3px 0 0;
  color: black;
  cursor: pointer;
  font-family: Open Sans , sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  letter-spacing: 2px;
  margin-bottom: 7px;
  position: fixed;
  text-transform: uppercase;
  transition: background-color 0.35s;
  width: 50%;
}

.bottom {
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
}
