.search-inputs-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  width: 80vw;
}

.search-inputs-container input {
  margin-right: 3px;
}

.main-search-btn {
  border: 1 solid;
  box-shadow: 1px 1px 0 0 , 2px 2px 0 0 , 3px 3px 0 0;
  color: black;
  cursor: pointer;
  font-family: Open Sans , sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  letter-spacing: 2px;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 0;
  text-transform: uppercase;
  transition: background-color 0.35s;
  width: 30%;
}